<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
    <sectionGroup name="ak.net.dns">
      <sectionGroup name="transports">
        <section name="tcp" type="AK.Net.Dns.Configuration.DnsTcpTransportSection, AK.Net.Dns"/>  
        <section name="udp" type="AK.Net.Dns.Configuration.DnsUdpTransportSection, AK.Net.Dns"/>
        <section name="smart" type="AK.Net.Dns.Configuration.DnsSmartTransportSection, AK.Net.Dns"/>
      </sectionGroup>      
      <sectionGroup name="resolvers" type="AK.Net.Dns.Configuration.DnsResolverSectionGroup">
        <section name="relay" type="AK.Net.Dns.Configuration.DnsRelayResolverSection, AK.Net.Dns"/>  
      </sectionGroup>
    </sectionGroup>
  </configSections>
  <ak.net.dns>
    <transports>
      <tcp maxIncomingMessageSize="29"/>
      <udp/>
      <smart/>
    </transports>      
    <resolvers>
      <relay/>
    </resolvers>
  </ak.net.dns>
  <log4net>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{yyyy-MM-dd HH:mm:ss.ffff} %level %logger{1}[%thread]: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="DEBUG" />
      <appender-ref ref="ConsoleAppender" />
    </root>
  </log4net>
</configuration>